---
import LayoutBase from '../layouts/Layout.astro';
import '../styles/global.css';
import AboutHero from '../components/about/hero.astro';
import AboutMission from '../components/about/mission.astro';
import AboutValues from '../components/about/values.astro';
import AboutTeam from '../components/about/team.astro';
---

<LayoutBase title="About - Nike">
	<main>
		<AboutHero />
		<AboutMission />
		<AboutValues />
		<AboutTeam />
	</main>
</LayoutBase>
