---
import LayoutBase from '../layouts/Layout.astro';
import { AboutHero, AboutMission, AboutValues, AboutTeam } from '../components/about';

---

<LayoutBase title="About - Nike">
	<main>
		<AboutHero />
		<AboutMission />
		<AboutValues />
		<AboutTeam />
	</main>
</LayoutBase>
