---
import LayoutBase from '../layouts/Layout.astro';
import '../styles/global.css';
import ContactHero from '../components/contact/hero.astro';
import ContactInfo from '../components/contact/info.astro';
import ContactForm from '../components/contact/form.astro';
import ContactMap from '../components/contact/map.astro';
---

<LayoutBase title="Contact - Nike">
	<main>
		<ContactHero />
		<ContactInfo />
		<ContactForm />
		<ContactMap />
	</main>
</LayoutBase>
