---
import LayoutBase from '../layouts/Layout.astro';
import { ContactHero, ContactInfo, ContactForm, ContactMap } from '../components/contact';

---

<LayoutBase title="Contact - Nike">
	<main>
		<ContactHero />
		<ContactInfo />
		<ContactForm />
		<ContactMap />
	</main>
</LayoutBase>
