---
import LayoutBase from '../layouts/Layout.astro';
import { Hero, Gallery, GalleryCategories, Cta } from '../components/home';

---

<LayoutBase title="Nike">
	
	<main>
		<Hero />
		<Gallery />
		<GalleryCategories />
		<Cta />
	</main>
</LayoutBase>
