---
import LayoutBase from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from '../components/home/hero.astro';
import Gallery from '../components/home/galleryShop.astro';
import GalleryCategories from '../components/home/galleryCategories.astro';
import Cta from '../components/home/cta.astro';
---

<LayoutBase title="Nike">
	
	<main>
		<Hero />
		<Gallery />
		<GalleryCategories />
		<Cta />
	</main>
</LayoutBase>
