---
import LayoutBase from '../layouts/Layout.astro';
import GalleryProducts from '../components/products/galleryProducts.astro';
---

<LayoutBase title="Products - Nike">
    <main>
        <GalleryProducts />
    </main>
</LayoutBase>