---
---

<section class="w-full h-[900px] mt-12 flex flex-col">
    <div class="truncate overflow-x-hidden w-full">
        <video autoplay muted loop src="/main.mp4" class="w-full max-h-11/12 object-cover truncate aspect-video"></video>
    </div>

    <div class="font-nike-bold text-secondary flex flex-col justify-center items-center gap-2 mt-4">
        <span class="text-3xl font-nike-medium">Only one way to find out</span>
        <h1 class="text-8xl font-bold">Just Do It</h1>
    </div>
    </section>